@media (min-width: 768px) and (max-width: 1200px),(max-width: 14.5cm){
    .button{
        width: 160px;
        height: 80px;
        margin: 15px;
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .button{
        width: 160px;
        height: 80px;
        margin: 15px;
        font-size: 20px;
    }
}